Repository dynovaio/newrelic-sb-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: jupyter-nb-clear-output, jupyter-nb-clear-nbdev-lib, pylint

jupyter-nb-clear-output:
  name: jupyter-nb-clear-output
  language: system
  entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

jupyter-nb-clear-nbdev-lib:
  name: jupyter-nb-clear-nbdev-lib
  language: system
  entry: sed -i -r 's/# %%.*//g'

pylint:
  name: pylint
  entry: poetry run pylint
  language: system
  args:
  - --rcfile
  - .pylintrc
  - --ignore
  - migrations

Update references to poetry in docs build
  .gitlab-ci.yml
Due: none

Update scripts for docs building
  .gitlab-ci.yml
  devops/pypi/b_docs_1_build.sh
  devops/pypi/c_docs_1_publish.sh
Due: none

Update python version and job naming
  .gitlab-ci.yml
Due: none

Update devops scripts
  .gitlab-ci.yml
  devops/pypi/a_pycqa_1_execute_tests.sh
  devops/pypi/a_pycqa_2_upload_coverage.sh
  devops/pypi/setup_dependencies.sh
Due: none

Unify tests, report coverage to cosdacy on master and basepython 311, move pytest options to pyproject.toml
  .gitlab-ci.yml
  devops/pypi/a_pycqa_2_upload_coverage.sh
  devops/pypi/setup_variables.sh
  pyproject.toml
Due: none

Update job naming in .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Move docs pipeline steps to master branch
  .gitlab-ci.yml
Due: none

Update changelog
  CHANGELOG.md
Due: none

Bump to 0.9.0
  CHANGELOG.md
  pyproject.toml
  settings.ini
  src/newrelic_sb_sdk/__init__.py
  tbump.toml
Due: jupyter-nb-clear-nbdev-lib, pylint

Rename docs:deploy:py311 to pages to get documentation correctly published
  .gitlab-ci.yml
Due: none

Remane devops scripts in a more generic way to be used in any python project and update references in .gitlab-ci.yml
  .gitlab-ci.yml
  devops/python/build_docs_with_jupyterbook.sh
  devops/python/build_package.sh
  devops/python/execute_tests.sh
  devops/python/publish_docs_to_gitlab_pages.sh
  devops/python/publish_package_to_pypi.sh
  devops/python/setup_dependencies.sh
  devops/python/setup_poetry.sh
  devops/python/setup_pypi_credentials.sh
  devops/python/setup_variables.sh
  devops/python/upload_coverage.sh
Due: none

Fix script references in package:bulild:py311 and docs:bulild:py311 jobs
  .gitlab-ci.yml
Due: none

Update graphql schema and notebooks
  CHANGELOG.md
  notebooks/GraphQL/Enums.ipynb
  notebooks/GraphQL/GraphQL.ipynb
  notebooks/GraphQL/Input Objects.ipynb
  notebooks/GraphQL/NerdGraph Schema to Notebooks.ipynb
  notebooks/GraphQL/Objects.ipynb
  notebooks/GraphQL/Scalars.ipynb
  notebooks/GraphQL/nerdgraph-schema.json
Due: jupyter-nb-clear-output

Update graphql submodule
  CHANGELOG.md
  src/newrelic_sb_sdk/_modidx.py
  src/newrelic_sb_sdk/graphql/objects.py
Due: jupyter-nb-clear-nbdev-lib, pylint

Bump to 0.10.0
  CHANGELOG.md
  pyproject.toml
  settings.ini
  src/newrelic_sb_sdk/__init__.py
  tbump.toml
Due: jupyter-nb-clear-nbdev-lib, pylint

Update: rebuild graphql notebooks
  notebooks/GraphQL/Enums.ipynb
  notebooks/GraphQL/GraphQL.ipynb
  notebooks/GraphQL/Input Objects.ipynb
  notebooks/GraphQL/Objects.ipynb
  notebooks/GraphQL/Scalars.ipynb
  notebooks/GraphQL/nerdgraph-schema.json
Due: jupyter-nb-clear-output

Update graphql submodule
  src/newrelic_sb_sdk/graphql/enums.py
  src/newrelic_sb_sdk/graphql/input_objects.py
Due: jupyter-nb-clear-nbdev-lib, pylint

Update .precommit-config.yml
  .pre-commit-config.yaml
Due: none

Update dependencies
  poetry.lock
  requirements.dev.txt
  requirements.txt
Due: none

Bump to 0.11.0
  CHANGELOG.md
  pyproject.toml
  settings.ini
  src/newrelic_sb_sdk/__init__.py
  tbump.toml
Due: jupyter-nb-clear-nbdev-lib, pylint

Update: update graphql notebooks and schema.
  notebooks/GraphQL/Enums.ipynb
  notebooks/GraphQL/GraphQL.ipynb
  notebooks/GraphQL/Input Objects.ipynb
  notebooks/GraphQL/Objects.ipynb
  notebooks/GraphQL/Scalars.ipynb
  notebooks/GraphQL/nerdgraph-schema.json
Due: jupyter-nb-clear-output

Update: add shellcheck to pre-commit config and exclude .shellcheckrc from .gitignore
  .gitignore
  .pre-commit-config.yaml
  .shellcheckrc
Due: none

Update: resolve all shellcheck errors in CI/CD scripts.
  CHANGELOG.md
  devops/python/build_docs_with_jupyterbook.sh
  devops/python/build_package.sh
  devops/python/execute_tests.sh
  devops/python/publish_docs_to_gitlab_pages.sh
  devops/python/publish_package_to_pypi.sh
  devops/python/setup_dependencies.sh
  devops/python/setup_poetry.sh
  devops/python/setup_pypi_credentials.sh
  devops/python/setup_variables.sh
  devops/python/upload_coverage.sh
Due: none

Update: update graphql submodule in src with the new schema.
  CHANGELOG.md
  src/newrelic_sb_sdk/_modidx.py
  src/newrelic_sb_sdk/graphql/enums.py
  src/newrelic_sb_sdk/graphql/input_objects.py
  src/newrelic_sb_sdk/graphql/objects.py
  src/newrelic_sb_sdk/graphql/scalars.py
Due: jupyter-nb-clear-nbdev-lib, pylint

Update: add tests for newrelic_sb_sdk.utils.query.
  CHANGELOG.md
  tests/test_utils_query.ipynb
Due: jupyter-nb-clear-output

Update: fix indentation level in test notebooks titles.
  tests/test_utils_query.ipynb
  tests/test_utils_text.ipynb
Due: jupyter-nb-clear-output

Update: add deepdiff to development dependencies.
  poetry.lock
  pyproject.toml
  requirements.dev.txt
Due: none

Update: add tests for newrelic_sb_sdk.utils.response.
  CHANGELOG.md
  tests/test_utils_response.ipynb
Due: jupyter-nb-clear-output

Bump to 0.12.0
  CHANGELOG.md
  pyproject.toml
  settings.ini
  src/newrelic_sb_sdk/__init__.py
  tbump.toml
Due: jupyter-nb-clear-nbdev-lib, pylint

Update: update pre-commit hooks, add pre-commit hookfor markdown.
  .pre-commit-config.yaml
Due: none

Update:. fix markdown lint errors.
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
Due: none

Update: add markdownlint config to .gitignore exclusions.
  .gitignore
  .markdownlint.json
Due: none

Update: update graphql submodule in src with the new schema.
  CHANGELOG.md
  src/newrelic_sb_sdk/_modidx.py
  src/newrelic_sb_sdk/graphql/enums.py
  src/newrelic_sb_sdk/graphql/input_objects.py
  src/newrelic_sb_sdk/graphql/objects.py
Due: jupyter-nb-clear-nbdev-lib, pylint

Update: update dependencies,remove unused dependencies.
  poetry.lock
  pyproject.toml
  requirements.dev.txt
Due: none

Bump to 0.13.0
  CHANGELOG.md
  pyproject.toml
  settings.ini
  src/newrelic_sb_sdk/__init__.py
  tbump.toml
Due: jupyter-nb-clear-nbdev-lib, pylint

Update: add release step to .gitlab-ci.yml.
  .gitlab-ci.yml
Due: none

Update: update graphql submodule in src with the new schema.
  CHANGELOG.md
  src/newrelic_sb_sdk/graphql/enums.py
  src/newrelic_sb_sdk/graphql/objects.py
Due: jupyter-nb-clear-nbdev-lib, pylint

Path conditions:
  jupyter-nb-clear-output: any of: \.ipynb$
  jupyter-nb-clear-nbdev-lib: any of: \.py$
  pylint: any of: \.py$, but not: ^.*\b(migrations)\b.*$
