Repository dynovaio/newrelic-sb-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: jupyter-nb-clear-output, remove-comments-from-nbdev-lib, fix-string-concat-in-nbdev-lib, pylint

jupyter-nb-clear-output:
  name: jupyter-nb-clear-output
  language: system
  entry: poetry run jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

remove-comments-from-nbdev-lib:
  name: remove-comments-from-nbdev-lib
  language: system
  entry: sed -i -r 's/# (%%|AUTOGENERATED).*//g'

fix-string-concat-in-nbdev-lib:
  name: fix-string-concat-in-nbdev-lib
  language: system
  entry: sed -i -r 's/ " "/ /g'

pylint:
  name: pylint
  entry: poetry run pylint
  language: system
  args:
  - --rcfile
  - .pylintrc
  - --ignore
  - migrations

Add: new Historical Data Export notebook for hsitorical data export operations
  notebooks/Shortcuts/Historical Data Export.ipynb
Due: jupyter-nb-clear-output

Fix: break condition in _perform_historical_data_export
  notebooks/Shortcuts/Historical Data Export.ipynb
Due: jupyter-nb-clear-output

Fix: lint errors in notebooks
  notebooks/Shortcuts/Dashboards.ipynb
  notebooks/Shortcuts/Historical Data Export.ipynb
  notebooks/Shortcuts/Nrql.ipynb
  notebooks/Utils/Download.ipynb
Due: jupyter-nb-clear-output

Update: refresh src module from notebooks
  src/newrelic_sb_sdk/_modidx.py
  src/newrelic_sb_sdk/client/__init__.py
  src/newrelic_sb_sdk/shortcuts/dashboards.py
  src/newrelic_sb_sdk/shortcuts/historical_data_export.py
  src/newrelic_sb_sdk/shortcuts/nrql.py
  src/newrelic_sb_sdk/utils/download.py
Due: remove-comments-from-nbdev-lib, fix-string-concat-in-nbdev-lib, pylint

Update: describe changes in CHANGELOG.md
  CHANGELOG.md
Due: none

Update: _toc.yml for documentation
  _toc.yml
Due: none

Update: tests
  tests/test_client.ipynb
Due: jupyter-nb-clear-output

Bump to 0.33.0
  CHANGELOG.md
  pyproject.toml
  settings.ini
  src/newrelic_sb_sdk/__init__.py
  src/newrelic_sb_sdk/version.py
  tbump.toml
Due: remove-comments-from-nbdev-lib, fix-string-concat-in-nbdev-lib, pylint

Update: poetry.lock
  poetry.lock
Due: none

Update: generate GraphQL notebooks with new schema
  notebooks/GraphQL/Enums.ipynb
  notebooks/GraphQL/GraphQL.ipynb
  notebooks/GraphQL/Input Objects.ipynb
  notebooks/GraphQL/Objects.ipynb
  notebooks/GraphQL/Scalars.ipynb
  notebooks/GraphQL/nerdgraph-schema.json
Due: jupyter-nb-clear-output

Update: refresh src module from notebooks
  src/newrelic_sb_sdk/_modidx.py
  src/newrelic_sb_sdk/graphql/enums.py
  src/newrelic_sb_sdk/graphql/input_objects.py
  src/newrelic_sb_sdk/graphql/objects.py
  src/pyproject.toml
Due: remove-comments-from-nbdev-lib, fix-string-concat-in-nbdev-lib, pylint

Bump to 0.34.0
  CHANGELOG.md
  pyproject.toml
  settings.ini
  src/newrelic_sb_sdk/__init__.py
  src/newrelic_sb_sdk/version.py
  tbump.toml
Due: remove-comments-from-nbdev-lib, fix-string-concat-in-nbdev-lib, pylint

Update: refresh src module from notebooks
  src/newrelic_sb_sdk/_modidx.py
  src/newrelic_sb_sdk/graphql/enums.py
  src/newrelic_sb_sdk/graphql/input_objects.py
  src/newrelic_sb_sdk/graphql/objects.py
  src/newrelic_sb_sdk/graphql/scalars.py
Due: remove-comments-from-nbdev-lib, fix-string-concat-in-nbdev-lib, pylint

Update: add --no-pager option for git cli in package:upgrade poe's task.
  pyproject.toml
Due: none

Bump to 0.35.0
  CHANGELOG.md
  pyproject.toml
  settings.ini
  src/newrelic_sb_sdk/__init__.py
  src/newrelic_sb_sdk/version.py
  tbump.toml
Due: remove-comments-from-nbdev-lib, fix-string-concat-in-nbdev-lib, pylint

Update: new ignore rule in .gitignore
  .gitignore
Due: none

Update: refresh src module from notebooks
  src/newrelic_sb_sdk/_modidx.py
  src/newrelic_sb_sdk/graphql/enums.py
  src/newrelic_sb_sdk/graphql/input_objects.py
  src/newrelic_sb_sdk/graphql/objects.py
Due: remove-comments-from-nbdev-lib, fix-string-concat-in-nbdev-lib, pylint

Update: promote package to beta
  pyproject.toml
Due: none

Bump to 0.36.0
  CHANGELOG.md
  pyproject.toml
  settings.ini
  src/newrelic_sb_sdk/__init__.py
  src/newrelic_sb_sdk/version.py
  tbump.toml
Due: remove-comments-from-nbdev-lib, fix-string-concat-in-nbdev-lib, pylint

Update: describe changes in change log
  CHANGELOG.md
Due: none

Bump to 0.37.0
  CHANGELOG.md
  pyproject.toml
  settings.ini
  src/newrelic_sb_sdk/__init__.py
  src/newrelic_sb_sdk/version.py
  tbump.toml
Due: remove-comments-from-nbdev-lib, fix-string-concat-in-nbdev-lib, pylint

Update: refresh src module from notebooks
  src/newrelic_sb_sdk/_modidx.py
  src/newrelic_sb_sdk/graphql/enums.py
  src/newrelic_sb_sdk/graphql/input_objects.py
  src/newrelic_sb_sdk/graphql/objects.py
  src/newrelic_sb_sdk/graphql/scalars.py
  src/pyproject.toml
Due: remove-comments-from-nbdev-lib, fix-string-concat-in-nbdev-lib, pylint

Update: describe changes in change log
  .mdlrc.rb
  CHANGELOG.md
Due: none

Bump to 0.38.0
  CHANGELOG.md
  pyproject.toml
  settings.ini
  src/newrelic_sb_sdk/__init__.py
  src/newrelic_sb_sdk/version.py
  tbump.toml
Due: remove-comments-from-nbdev-lib, fix-string-concat-in-nbdev-lib, pylint

Remove: unused pyproject.toml inside src
  src/pyproject.toml
Due: none

Bump to 0.39.0
  CHANGELOG.md
  pyproject.toml
  settings.ini
  src/newrelic_sb_sdk/__init__.py
  src/newrelic_sb_sdk/version.py
  tbump.toml
Due: remove-comments-from-nbdev-lib, fix-string-concat-in-nbdev-lib, pylint

Path conditions:
  jupyter-nb-clear-output: any of: \.ipynb$
  remove-comments-from-nbdev-lib: any of: \.py$
  fix-string-concat-in-nbdev-lib: any of: \.py$
  pylint: any of: \.py$, but not: ^.*\b(migrations|_modidx.py)\b.*$
