Repository dynovaio/newrelic-sb-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, jupyter-nb-clear-output

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/ambv/black
    rev: 22.6.0
    hooks:
      - id: black
        exclude: ^.*\b(migrations)\b.*$
      - id: black-jupyter
        files: \.ipynb$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
        exclude: ^.*\b(migrations)\b.*$
      - id: end-of-file-fixer
        exclude: ^.*\b(migrations)\b.*$

  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.2
    hooks:
      - id: flake8
        exclude: ^.*\b(migrations)\b.*$

  - repo: https://github.com/asottile/seed-isort-config
    rev: v2.2.0
    hooks:
      - id: seed-isort-config
        exclude: ^.*\b(migrations)\b.*$

  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.10.1
    hooks:
      - id: isort
        exclude: ^.*\b(migrations)\b.*$

  - repo: https://github.com/pycqa/pydocstyle
    rev: 6.1.1
    hooks:
      - id: pydocstyle
        exclude: ^.*\b(migrations)\b.*$
        files: ^src/

  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.4
    hooks:
      - id: bandit
        exclude: ^.*\b(migrations)\b.*$
        args: [-c, .bandit, -r, src]

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: env DJANGO_SETTINGS_MODULE=application.settings pylint
        language: system
        types: [python]
        exclude: ^.*\b(migrations)\b.*$
        args: [--rcfile, .pylintrc, --ignore, migrations]

  - repo: local
    hooks:
      - id: jupyter-nb-clear-output
        name: jupyter-nb-clear-output
        files: \.ipynb$
        language: system
        entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

Update dependencies and rename project
  poetry.lock
  pyproject.toml
  requirements.dev.txt
  requirements.txt
Due: none

Add tbump
  tbump.toml
Due: none

Update pre-commit
  .pre-commit-config.yaml
Due: none

Apply linting to notebooks
  .isort.cfg
  .pre-commit-config.yaml
Due: none

Notebooks recovery without sensitive information
  .env.template
  .pre-commit-config.yaml
  _config.yml
  docker-compose.yml
  notebooks/Alerts/Alerts.ipynb
  notebooks/Alerts/Enums.ipynb
  notebooks/Alerts/Utils.ipynb
  notebooks/Client/Client.ipynb
  notebooks/Core/Core.ipynb
  notebooks/Dashboards/Dashboards.ipynb
  notebooks/Dashboards/Enums.ipynb
  notebooks/Dashboards/Pages.ipynb
  notebooks/Dashboards/Utils.ipynb
  notebooks/Dashboards/Widgets.ipynb
  notebooks/GraphQL/Enums.ipynb
  notebooks/GraphQL/GraphQL.ipynb
  notebooks/GraphQL/Input Objects.ipynb
  notebooks/GraphQL/Objects.ipynb
  notebooks/GraphQL/Scalars.ipynb
  notebooks/Inventory/Dashboards - Backend.ipynb
  notebooks/Inventory/Dhasboards - Infrastructure.ipynb
  notebooks/Inventory/Index.ipynb
  notebooks/Inventory/Inventory.ipynb
  notebooks/Inventory/Pages - Backend.ipynb
  notebooks/Inventory/Pages - Infrastructure.ipynb
  notebooks/Inventory/Widgets - Backend.ipynb
  notebooks/Inventory/Widgets - Frontend - Browser.ipynb
  notebooks/Inventory/Widgets - Frontend - Mobile.ipynb
  notebooks/Inventory/Widgets - Infrastructure - Azure.ipynb
  notebooks/Inventory/Widgets - Infrastructure - K8s.ipynb
  notebooks/Inventory/Widgets - Infrastructure - OnHost Integrations.ipynb
  notebooks/Inventory/Widgets - Infrastructure - OnPremise.ipynb
  settings.ini
Due: jupyter-nb-clear-output

Complete notebooks for utils submodule
  notebooks/Utils/Index.ipynb
  notebooks/Utils/Query.ipynb
  notebooks/Utils/Response.ipynb
  notebooks/Utils/Text.ipynb
Due: jupyter-nb-clear-output

Fix reference to LICENSE.txt in docs
  README.md
  _config.yml
Due: none

Add utils submodule to toc
  _toc.yml
Due: none

Update title in notebooks/Utils/Index
  notebooks/Utils/Index.ipynb
Due: jupyter-nb-clear-output

Complete notebooks for core submodule
  notebooks/Core/Base.ipynb
  notebooks/Core/Core.ipynb
  notebooks/Core/Encoders.ipynb
  notebooks/Core/Index.ipynb
  notebooks/Core/Mixins.ipynb
Due: jupyter-nb-clear-output

Add core submodule to toc
  _toc.yml
Due: none

Fix lint errors in core submodule
  notebooks/Core/Base.ipynb
  notebooks/Core/Encoders.ipynb
  notebooks/Core/Mixins.ipynb
Due: jupyter-nb-clear-output

Fix lint errors in utils submodule
  notebooks/Utils/Query.ipynb
  notebooks/Utils/Response.ipynb
Due: jupyter-nb-clear-output

Update precommit config
  .pre-commit-config.yaml
Due: none

Update src
  src/newrelic_sb_sdk/__init__.py
  src/newrelic_sb_sdk/_modidx.py
  src/newrelic_sb_sdk/core/__init__.py
  src/newrelic_sb_sdk/core/base.py
  src/newrelic_sb_sdk/core/encoders.py
  src/newrelic_sb_sdk/core/mixins.py
  src/newrelic_sb_sdk/core/query.py
  src/newrelic_sb_sdk/core/response.py
  src/newrelic_sb_sdk/utils/__init__.py
  src/newrelic_sb_sdk/utils/text.py
Due: pylint

Add steps for clean ipynb and py files, and for mypy validation
  .pre-commit-config.yaml
Due: none

Fix mypy erros in both core and utils submodules
  notebooks/Core/Base.ipynb
  notebooks/Core/Encoders.ipynb
  notebooks/Core/Mixins.ipynb
  notebooks/Utils/Query.ipynb
  notebooks/Utils/Response.ipynb
  notebooks/Utils/Text.ipynb
Due: jupyter-nb-clear-output

Update src
  src/newrelic_sb_sdk/core/mixins.py
  src/newrelic_sb_sdk/utils/text.py
Due: pylint

Add notebook checks in pre-commit config
  .pre-commit-config.yaml
Due: none

Remove autopep8 settings from setup.cfg
  setup.cfg
Due: none

Update dependencies
  poetry.lock
  pyproject.toml
  requirements.dev.txt
Due: none

Fix lint issues
  notebooks/Core/Mixins.ipynb
  notebooks/Utils/Text.ipynb
Due: jupyter-nb-clear-output

Add py.typed file to module
  src/newrelic_sb_sdk/py.typed
Due: none

Update precommit config with custom mypy execution
  .pre-commit-config.yaml
Due: none

Update current version in tbump config
  tbump.toml
Due: none

Fix notebook naming
  notebooks/Core/Encoders.ipynb
Due: jupyter-nb-clear-output

Add client submodule to notebooks
  notebooks/Client/Client.ipynb
Due: jupyter-nb-clear-output

Update pre commit config for python files
  .pre-commit-config.yaml
Due: none

Update src with client submodule
  .isort.cfg
  src/newrelic_sb_sdk/client/__init__.py
Due: pylint

Update pre-commit rules
  .pre-commit-config.yaml
Due: none

Add submodule graphql
  notebooks/GraphQL/Enums.ipynb
  notebooks/GraphQL/GraphQL.ipynb
  notebooks/GraphQL/Index.ipynb
  notebooks/GraphQL/Input Objects.ipynb
  notebooks/GraphQL/NerdGraph Schema to Notebooks.ipynb
  notebooks/GraphQL/Objects.ipynb
  notebooks/GraphQL/Scalars.ipynb
Due: jupyter-nb-clear-output

Update index notebooks
  notebooks/Client/Index.ipynb
  notebooks/GraphQL/Index.ipynb
  notebooks/GraphQL/Input Objects.ipynb
Due: jupyter-nb-clear-output

Update jupyterbook config
  _config.yml
  _toc.yml
Due: none

Merge .isort.cfg into setup.cfg
  .isort.cfg
  setup.cfg
Due: none

Add pylint exclusions in GraphQL Notebooks
  notebooks/GraphQL/Enums.ipynb
  notebooks/GraphQL/GraphQL.ipynb
  notebooks/GraphQL/Input Objects.ipynb
  notebooks/GraphQL/NerdGraph Schema to Notebooks.ipynb
  notebooks/GraphQL/Objects.ipynb
  notebooks/GraphQL/Scalars.ipynb
Due: jupyter-nb-clear-output

Update src
  setup.cfg
  src/newrelic_sb_sdk/_modidx.py
  src/newrelic_sb_sdk/client/__init__.py
  src/newrelic_sb_sdk/core/base.py
  src/newrelic_sb_sdk/core/encoders.py
  src/newrelic_sb_sdk/core/mixins.py
  src/newrelic_sb_sdk/core/query.py
  src/newrelic_sb_sdk/core/response.py
  src/newrelic_sb_sdk/graphql/__init__.py
  src/newrelic_sb_sdk/graphql/enums.py
  src/newrelic_sb_sdk/graphql/input_objects.py
  src/newrelic_sb_sdk/graphql/objects.py
  src/newrelic_sb_sdk/graphql/scalars.py
  src/newrelic_sb_sdk/utils/text.py
Due: pylint

Rename SerializableEnum to BaseEnum
  notebooks/Core/Base.ipynb
  src/newrelic_sb_sdk/_modidx.py
  src/newrelic_sb_sdk/core/base.py
Due: pylint, jupyter-nb-clear-output
