Repository dynovaio/newrelic-sb-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: jupyter-nb-clear-output, jupyter-nb-clear-nbdev-lib, pylint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: jupyter-nb-clear-output
        name: jupyter-nb-clear-output
        files: \.ipynb$
        language: system
        entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

  - repo: local
    hooks:
      - id: jupyter-nb-clear-nbdev-lib
        name: jupyter-nb-clear-nbdev-lib
        files: \.py$
        language: system
        entry: sed -i -r 's/# %%.*//g'

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
        exclude: ^.*\b(migrations)\b.*$
      - id: end-of-file-fixer
        exclude: ^.*\b(migrations)\b.*$

  - repo: https://github.com/ambv/black
    rev: 23.1.0
    hooks:
      - id: black-jupyter
        files: \.ipynb$

  # - repo: https://github.com/fastai/nbdev
  #   rev: 2.3.11
  #   hooks:
  #     - id: nbdev_clean
  #     - id: nbdev_export

  - repo: https://github.com/asottile/seed-isort-config
    rev: v2.2.0
    hooks:
      - id: seed-isort-config
        exclude: ^.*\b(migrations)\b.*$

  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.10.1
    hooks:
      - id: isort
        exclude: ^.*\b(migrations)\b.*$

  - repo: https://github.com/ambv/black
    rev: 23.1.0
    hooks:
      - id: black
        exclude: ^.*\b(migrations)\b.*$

  - repo: https://github.com/pycqa/flake8
    rev: 6.0.0
    hooks:
      - id: flake8
        exclude: ^.*\b(migrations)\b.*$

  - repo: https://github.com/pycqa/pydocstyle
    rev: 6.3.0
    hooks:
      - id: pydocstyle
        exclude: ^.*\b(migrations)\b.*$

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.0.1
    hooks:
    -   id: mypy
        files: \.py$

  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.4
    hooks:
      - id: bandit
        exclude: ^.*\b(migrations)\b.*$
        args: [-c, .bandit, -r, src]

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: poetry run pylint
        language: system
        types: [python]
        exclude: ^.*\b(migrations)\b.*$
        args: [--rcfile, .pylintrc, --ignore, migrations]

Update dependencies
  poetry.lock
  pyproject.toml
  requirements.dev.txt
  requirements.txt
Due: none

Update GraphQL module
  notebooks/GraphQL/Enums.ipynb
  notebooks/GraphQL/GraphQL.ipynb
  notebooks/GraphQL/Input Objects.ipynb
  notebooks/GraphQL/Objects.ipynb
  notebooks/GraphQL/Scalars.ipynb
Due: jupyter-nb-clear-output

Fix false positive SQL warning on alerts submodule, apply linter to notebooks.
  notebooks/Alerts/Alerts.ipynb
  notebooks/Alerts/Enums.ipynb
  notebooks/Alerts/Utils.ipynb
  notebooks/Client/Client.ipynb
  notebooks/Core/Base.ipynb
  notebooks/Core/Encoders.ipynb
  notebooks/Core/Mixins.ipynb
  notebooks/Dashboards/Dashboards.ipynb
  notebooks/Dashboards/Enums.ipynb
  notebooks/Dashboards/Pages.ipynb
  notebooks/Dashboards/Utils.ipynb
  notebooks/Dashboards/Widgets.ipynb
  notebooks/Utils/Query.ipynb
  notebooks/Utils/Response.ipynb
  notebooks/Utils/Text.ipynb
Due: jupyter-nb-clear-output

Enable repository button in jupyterbook config
  _config.yml
Due: none

Apply linter to notebooks
  notebooks/Alerts/Alerts.ipynb
  notebooks/Alerts/Enums.ipynb
  notebooks/Alerts/Index.ipynb
  notebooks/Alerts/Utils.ipynb
  notebooks/Client/Client.ipynb
  notebooks/Client/Index.ipynb
  notebooks/Core/Base.ipynb
  notebooks/Core/Encoders.ipynb
  notebooks/Core/Index.ipynb
  notebooks/Core/Mixins.ipynb
  notebooks/Dashboards/Dashboards.ipynb
  notebooks/Dashboards/Enums.ipynb
  notebooks/Dashboards/Index.ipynb
  notebooks/Dashboards/Pages.ipynb
  notebooks/Dashboards/Utils.ipynb
  notebooks/Dashboards/Widgets.ipynb
  notebooks/GraphQL/Enums.ipynb
  notebooks/GraphQL/GraphQL.ipynb
  notebooks/GraphQL/Index.ipynb
  notebooks/GraphQL/Input Objects.ipynb
  notebooks/GraphQL/NerdGraph Schema to Notebooks.ipynb
  notebooks/GraphQL/Objects.ipynb
  notebooks/GraphQL/Scalars.ipynb
  notebooks/Utils/Index.ipynb
  notebooks/Utils/Query.ipynb
  notebooks/Utils/Response.ipynb
  notebooks/Utils/Text.ipynb
Due: jupyter-nb-clear-output

Update library
  src/newrelic_sb_sdk/_modidx.py
  src/newrelic_sb_sdk/alerts/utils.py
  src/newrelic_sb_sdk/graphql/enums.py
  src/newrelic_sb_sdk/graphql/input_objects.py
  src/newrelic_sb_sdk/graphql/objects.py
  src/newrelic_sb_sdk/graphql/scalars.py
Due: jupyter-nb-clear-nbdev-lib, pylint

Disable issues button for jupyter book
  _config.yml
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Bump to 0.4.0
  CHANGELOG.md
  pyproject.toml
  settings.ini
  src/newrelic_sb_sdk/__init__.py
  tbump.toml
Due: jupyter-nb-clear-nbdev-lib, pylint

Replace pipe operator for Union in type annotations.
  notebooks/Alerts/Alerts.ipynb
  notebooks/Client/Client.ipynb
  notebooks/Core/Mixins.ipynb
  notebooks/Dashboards/Dashboards.ipynb
  notebooks/Dashboards/Pages.ipynb
  notebooks/Dashboards/Utils.ipynb
  notebooks/Dashboards/Widgets.ipynb
  notebooks/Utils/Response.ipynb
Due: jupyter-nb-clear-output

Update library.
  src/newrelic_sb_sdk/alerts/__init__.py
  src/newrelic_sb_sdk/client/__init__.py
  src/newrelic_sb_sdk/core/mixins.py
  src/newrelic_sb_sdk/dashboards/__init__.py
  src/newrelic_sb_sdk/dashboards/pages.py
  src/newrelic_sb_sdk/dashboards/utils.py
  src/newrelic_sb_sdk/dashboards/widgets.py
  src/newrelic_sb_sdk/utils/response.py
Due: jupyter-nb-clear-nbdev-lib, pylint

Bump to 0.5.0
  CHANGELOG.md
  pyproject.toml
  settings.ini
  src/newrelic_sb_sdk/__init__.py
  tbump.toml
Due: jupyter-nb-clear-nbdev-lib, pylint

Add Changelog entries for v0.5.0
  CHANGELOG.md
Due: none

Fix repository links in pyproject.toml
  pyproject.toml
Due: none

Add nbqa-pylint and fix notebooks
  .pre-commit-config.yaml
  notebooks/Dashboards/Dashboards.ipynb
  notebooks/Dashboards/Pages.ipynb
  notebooks/Dashboards/Widgets.ipynb
  notebooks/GraphQL/NerdGraph Schema to Notebooks.ipynb
Due: jupyter-nb-clear-output

Add ddependencies for future exmaples.
  poetry.lock
  pyproject.toml
  requirements.dev.txt
Due: none

Fix code generation form nerdgraph schema
  notebooks/Client/Client.ipynb
  notebooks/Core/Base.ipynb
  notebooks/Core/Encoders.ipynb
  notebooks/Core/Index.ipynb
  notebooks/Core/Mixins.ipynb
  notebooks/GraphQL/Enums.ipynb
  notebooks/GraphQL/GraphQL.ipynb
  notebooks/GraphQL/Input Objects.ipynb
  notebooks/GraphQL/NerdGraph Schema to Notebooks.ipynb
  notebooks/GraphQL/Objects.ipynb
  notebooks/GraphQL/Scalars.ipynb
  notebooks/Utils/Query.ipynb
Due: jupyter-nb-clear-output

Fix graphql module
  CHANGELOG.md
  src/newrelic_sb_sdk/client/__init__.py
  src/newrelic_sb_sdk/graphql/enums.py
  src/newrelic_sb_sdk/graphql/input_objects.py
  src/newrelic_sb_sdk/graphql/objects.py
  src/newrelic_sb_sdk/graphql/scalars.py
  src/newrelic_sb_sdk/utils/query.py
Due: jupyter-nb-clear-nbdev-lib, pylint

Bump to 0.6.0
  CHANGELOG.md
  pyproject.toml
  settings.ini
  src/newrelic_sb_sdk/__init__.py
  tbump.toml
Due: jupyter-nb-clear-nbdev-lib, pylint

Add NEW_RELIC_ACCOUNT_ID variable to .env.template
  .env.template
Due: none

Rename arguments in NewRelicGqlClient.build_query method and build_query function from to and to .
  notebooks/Client/Client.ipynb
  notebooks/Utils/Query.ipynb
Due: jupyter-nb-clear-output

Add metadata about language info in GraphQL notebook.
  notebooks/GraphQL/Enums.ipynb
  notebooks/GraphQL/GraphQL.ipynb
  notebooks/GraphQL/Input Objects.ipynb
  notebooks/GraphQL/NerdGraph Schema to Notebooks.ipynb
  notebooks/GraphQL/Objects.ipynb
  notebooks/GraphQL/Scalars.ipynb
Due: jupyter-nb-clear-output

Update module.
  src/newrelic_sb_sdk/client/__init__.py
  src/newrelic_sb_sdk/utils/query.py
Due: jupyter-nb-clear-nbdev-lib, pylint

Update links, add classifiers, add build badge
  README.md
  pyproject.toml
Due: none

Update change log.
  CHANGELOG.md
Due: none

Bump to 0.7.0
  CHANGELOG.md
  pyproject.toml
  settings.ini
  src/newrelic_sb_sdk/__init__.py
  tbump.toml
Due: jupyter-nb-clear-nbdev-lib, pylint

Add nerdgraph-schema.json to versioning
  .gitignore
  notebooks/GraphQL/nerdgraph-schema.json
Due: none

Update nergraph schema and graphql notebooks
  notebooks/GraphQL/Enums.ipynb
  notebooks/GraphQL/GraphQL.ipynb
  notebooks/GraphQL/Input Objects.ipynb
  notebooks/GraphQL/Objects.ipynb
  notebooks/GraphQL/Scalars.ipynb
  notebooks/GraphQL/nerdgraph-schema.json
Due: jupyter-nb-clear-output

Update graphql submodule
  src/newrelic_sb_sdk/_modidx.py
  src/newrelic_sb_sdk/graphql/enums.py
  src/newrelic_sb_sdk/graphql/input_objects.py
  src/newrelic_sb_sdk/graphql/objects.py
Due: jupyter-nb-clear-nbdev-lib, pylint

Update CHANGELOg.md
  CHANGELOG.md
Due: none

Update dependencies
  CHANGELOG.md
  poetry.lock
  requirements.dev.txt
  requirements.txt
Due: none

Remove unused pytest plugins
  poetry.lock
  pyproject.toml
  requirements.dev.txt
Due: none

Add xml files to .gitignore
  .gitignore
Due: none

Add coverage and pytest settings
  .coveragerc
  pyproject.toml
Due: none

Update options to pytest execution
  pyproject.toml
Due: none

Add DevOps files
  .gitlab-ci.yml
  CHANGELOG.md
  devops/pypi/a_pycqa_1_install_dependencies.sh
  devops/pypi/a_pycqa_2_execute_tests.sh
  devops/pypi/a_pycqa_3_upload_coverage.sh
  devops/pypi/b_package_1_build.sh
  devops/pypi/c_release_1_setup_credentials.sh
  devops/pypi/c_release_2_publish.sh
  devops/pypi/setup_poetry.sh
  devops/pypi/setup_variables.sh
Due: none

Add coverage badge in readme
  README.md
Due: none

Bump to 0.8.0
  CHANGELOG.md
  pyproject.toml
  settings.ini
  src/newrelic_sb_sdk/__init__.py
  tbump.toml
Due: jupyter-nb-clear-nbdev-lib, pylint

Recover gitlab pages in ci/cd
  .gitlab-ci.yml
Due: none
