Repository dynovaio/newrelic-sb-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: jupyter-nb-clear-output, remove-comments-from-nbdev-lib, fix-string-concat-in-nbdev-lib, pylint

jupyter-nb-clear-output:
  name: jupyter-nb-clear-output
  language: system
  entry: poetry run jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

remove-comments-from-nbdev-lib:
  name: remove-comments-from-nbdev-lib
  language: system
  entry: sed -i -r 's/# (%%|AUTOGENERATED).*//g'

fix-string-concat-in-nbdev-lib:
  name: fix-string-concat-in-nbdev-lib
  language: system
  entry: sed -i -r 's/ " "/ /g'

pylint:
  name: pylint
  entry: poetry run pylint
  language: system
  args:
  - --rcfile
  - .pylintrc
  - --ignore
  - migrations

Fix: allow github action to run on develop
  .github/workflows/jupyter-book.yml
Due: none

Update all references to github, update python version, remove develop from github pages allowed branches
  .github/workflows/jupyter-book.yml
  README.md
  pyproject.toml
Due: none

Bump to 0.21.0
  CHANGELOG.md
  pyproject.toml
  settings.ini
  src/newrelic_sb_sdk/__init__.py
  tbump.toml
Due: remove-comments-from-nbdev-lib, fix-string-concat-in-nbdev-lib, pylint

Add: integrate schema into graphql client
  notebooks/Client/Client.ipynb
Due: jupyter-nb-clear-output

Add: new Exceptions notebooks for exceptions
  notebooks/Utils/Exceptions.ipynb
Due: jupyter-nb-clear-output

Add: new raise_response_errors for handling errors in responses from NewRelicGqlClient
  notebooks/Utils/Response.ipynb
Due: jupyter-nb-clear-output

Add: new notebooks for shorcut functions
  notebooks/Shortcuts/Accounts.ipynb
  notebooks/Shortcuts/Credentials.ipynb
  notebooks/Shortcuts/Index.ipynb
Due: jupyter-nb-clear-output

Add: include new notebooks in docs' table of contents
  _toc.yml
Due: none

Fix: avoid mypy to raise assigment error in newrelic_sb_sdk.graphql.objects
  setup.cfg
Due: none

Add: new submodule shortcuts
  src/newrelic_sb_sdk/_modidx.py
  src/newrelic_sb_sdk/client/__init__.py
  src/newrelic_sb_sdk/shortcuts/__init__.py
  src/newrelic_sb_sdk/shortcuts/accounts.py
  src/newrelic_sb_sdk/shortcuts/credentials.py
  src/newrelic_sb_sdk/utils/exceptions.py
  src/newrelic_sb_sdk/utils/response.py
Due: remove-comments-from-nbdev-lib, fix-string-concat-in-nbdev-lib, pylint

Add: add new tests
  tests/test_client.ipynb
  tests/test_shortcuts_accounts.ipynb
  tests/test_shortcuts_credentials.ipynb
  tests/test_utils_exceptions.ipynb
  tests/test_utils_response.ipynb
Due: jupyter-nb-clear-output

Add: add user-agent heade in clients
  notebooks/Client/Client.ipynb
Due: jupyter-nb-clear-output

Fix: fix tests in tests/test_shortcuts_accounts.ipynb
  tests/test_shortcuts_accounts.ipynb
Due: jupyter-nb-clear-output

Add: new versions file
  src/newrelic_sb_sdk/version.py
Due: remove-comments-from-nbdev-lib, fix-string-concat-in-nbdev-lib, pylint

Update: update src module
  CHANGELOG.md
  src/newrelic_sb_sdk/__init__.py
  src/newrelic_sb_sdk/_modidx.py
  src/newrelic_sb_sdk/client/__init__.py
  tbump.toml
Due: remove-comments-from-nbdev-lib, fix-string-concat-in-nbdev-lib, pylint

Bump to 0.22.0
  CHANGELOG.md
  pyproject.toml
  settings.ini
  src/newrelic_sb_sdk/__init__.py
  src/newrelic_sb_sdk/version.py
  tbump.toml
Due: remove-comments-from-nbdev-lib, fix-string-concat-in-nbdev-lib, pylint

Update: fix references to github
  README.md
  _config.yml
  pyproject.toml
Due: none

Fix: replace | with Union to avoid breaks with python versions earlier than 3.10
  notebooks/Client/Client.ipynb
  notebooks/Shortcuts/Accounts.ipynb
  notebooks/Shortcuts/Credentials.ipynb
  notebooks/Utils/Response.ipynb
Due: jupyter-nb-clear-output

Remove: delete unused submodules Core, Dashboards adn Alerts
  _toc.yml
  notebooks/Alerts/Alerts.ipynb
  notebooks/Alerts/Enums.ipynb
  notebooks/Alerts/Index.ipynb
  notebooks/Alerts/Utils.ipynb
  notebooks/Core/Base.ipynb
  notebooks/Core/Encoders.ipynb
  notebooks/Core/Index.ipynb
  notebooks/Core/Mixins.ipynb
  notebooks/Dashboards/Dashboards.ipynb
  notebooks/Dashboards/Enums.ipynb
  notebooks/Dashboards/Index.ipynb
  notebooks/Dashboards/Pages.ipynb
  notebooks/Dashboards/Utils.ipynb
  notebooks/Dashboards/Widgets.ipynb
Due: jupyter-nb-clear-output

Update: update READMe.md
  README.md
Due: none

Update: new schema and graphql notebooks
  CHANGELOG.md
  notebooks/GraphQL/Enums.ipynb
  notebooks/GraphQL/GraphQL.ipynb
  notebooks/GraphQL/Input Objects.ipynb
  notebooks/GraphQL/Objects.ipynb
  notebooks/GraphQL/Scalars.ipynb
  notebooks/GraphQL/nerdgraph-schema.json
Due: jupyter-nb-clear-output

Update: update src module
  CHANGELOG.md
  settings.ini
  src/newrelic_sb_sdk/_modidx.py
  src/newrelic_sb_sdk/alerts/__init__.py
  src/newrelic_sb_sdk/alerts/enums.py
  src/newrelic_sb_sdk/alerts/utils.py
  src/newrelic_sb_sdk/client/__init__.py
  src/newrelic_sb_sdk/core/__init__.py
  src/newrelic_sb_sdk/core/base.py
  src/newrelic_sb_sdk/core/encoders.py
  src/newrelic_sb_sdk/core/mixins.py
  src/newrelic_sb_sdk/dashboards/__init__.py
  src/newrelic_sb_sdk/dashboards/enums.py
  src/newrelic_sb_sdk/dashboards/pages.py
  src/newrelic_sb_sdk/dashboards/utils.py
  src/newrelic_sb_sdk/dashboards/widgets.py
  src/newrelic_sb_sdk/graphql/enums.py
  src/newrelic_sb_sdk/graphql/objects.py
  src/newrelic_sb_sdk/shortcuts/accounts.py
  src/newrelic_sb_sdk/shortcuts/credentials.py
  src/newrelic_sb_sdk/utils/response.py
Due: remove-comments-from-nbdev-lib, fix-string-concat-in-nbdev-lib, pylint

Bump to 0.23.0
  CHANGELOG.md
  pyproject.toml
  settings.ini
  src/newrelic_sb_sdk/__init__.py
  src/newrelic_sb_sdk/version.py
  tbump.toml
Due: remove-comments-from-nbdev-lib, fix-string-concat-in-nbdev-lib, pylint

Add: new dependencies pygments-sb-nrql, poethepoet
  poetry.lock
  pyproject.toml
  requirements.dev.txt
Due: none

Update: GraphQL notebooks with new schema
  notebooks/GraphQL/Enums.ipynb
  notebooks/GraphQL/GraphQL.ipynb
  notebooks/GraphQL/Input Objects.ipynb
  notebooks/GraphQL/Objects.ipynb
  notebooks/GraphQL/Scalars.ipynb
  notebooks/GraphQL/nerdgraph-schema.json
  notebooks/Shortcuts/Accounts.ipynb
  pyproject.toml
  tests/test_utils_response.ipynb
Due: jupyter-nb-clear-output

Update: update src module
  CHANGELOG.md
  pyproject.toml
  src/newrelic_sb_sdk/graphql/enums.py
Due: remove-comments-from-nbdev-lib, fix-string-concat-in-nbdev-lib, pylint

Add: new logging support
  CHANGELOG.md
  notebooks/Client/Client.ipynb
  notebooks/Shortcuts/Index.ipynb
  src/newrelic_sb_sdk/__init__.py
  src/newrelic_sb_sdk/client/__init__.py
Due: jupyter-nb-clear-output, remove-comments-from-nbdev-lib, fix-string-concat-in-nbdev-lib, pylint

Add: new Nrql shorcuts in notebooks and src
  CHANGELOG.md
  _toc.yml
  notebooks/Shortcuts/Nrql.ipynb
  notebooks/_assets/favicon.png
  notebooks/_assets/logo.png
  src/newrelic_sb_sdk/_modidx.py
  src/newrelic_sb_sdk/shortcuts/nrql.py
Due: jupyter-nb-clear-output, remove-comments-from-nbdev-lib, fix-string-concat-in-nbdev-lib, pylint

Bump to 0.24.0
  CHANGELOG.md
  pyproject.toml
  settings.ini
  src/newrelic_sb_sdk/__init__.py
  src/newrelic_sb_sdk/version.py
  tbump.toml
Due: remove-comments-from-nbdev-lib, fix-string-concat-in-nbdev-lib, pylint

Update: change description in README.md
  README.md
Due: none

Update: new poe command for tests
  pyproject.toml
Due: none

Update: set fixture tests for account and credentials shortcuts
  tests/test_shortcuts_accounts.ipynb
  tests/test_shortcuts_credentials.ipynb
Due: jupyter-nb-clear-output

Update: send all env variables prefixed with DOTENV_ to .env file
  devops/python/setup_variables.sh
Due: none

Update: GraphQL notebooks with new schema
  CHANGELOG.md
  notebooks/GraphQL/Enums.ipynb
  notebooks/GraphQL/GraphQL.ipynb
  notebooks/GraphQL/Input Objects.ipynb
  notebooks/GraphQL/Objects.ipynb
  notebooks/GraphQL/Scalars.ipynb
  notebooks/GraphQL/nerdgraph-schema.json
Due: jupyter-nb-clear-output

Update: update src module
  CHANGELOG.md
  src/newrelic_sb_sdk/_modidx.py
  src/newrelic_sb_sdk/graphql/enums.py
  src/newrelic_sb_sdk/graphql/input_objects.py
  src/newrelic_sb_sdk/graphql/objects.py
Due: remove-comments-from-nbdev-lib, fix-string-concat-in-nbdev-lib, pylint

Add: new pytest-vcr dependency
  poetry.lock
  pyproject.toml
  requirements.dev.txt
Due: none

Add: use pytests-vcr with tests
  CHANGELOG.md
  devops/python/execute_tests.sh
  tests/cassettes/TestShortcutsCredentials.test_get_account.yaml
  tests/cassettes/TestShortcutsCredentials.test_get_all_accounts.yaml
  tests/cassettes/TestShortcutsCredentials.test_get_all_accounts_with_event_types.yaml
  tests/cassettes/TestShortcutsCredentials.test_get_all_accounts_with_event_types_and_time_window.yaml
  tests/cassettes/TestShortcutsCredentials.test_validate.yaml
  tests/test_shortcuts_accounts.ipynb
  tests/test_shortcuts_credentials.ipynb
Due: jupyter-nb-clear-output

Fix: fix json erorrs due to invalid id and numeric types
  tests/cassettes/TestShortcutsCredentials.test_get_account.yaml
  tests/cassettes/TestShortcutsCredentials.test_get_all_accounts.yaml
  tests/cassettes/TestShortcutsCredentials.test_get_all_accounts_with_event_types.yaml
  tests/cassettes/TestShortcutsCredentials.test_get_all_accounts_with_event_types_and_time_window.yaml
  tests/cassettes/TestShortcutsCredentials.test_validate.yaml
Due: none

Bump to 0.25.0
  CHANGELOG.md
  pyproject.toml
  settings.ini
  src/newrelic_sb_sdk/__init__.py
  src/newrelic_sb_sdk/version.py
  tbump.toml
Due: remove-comments-from-nbdev-lib, fix-string-concat-in-nbdev-lib, pylint

Update: generate GraphQL notebooks with new schema
  notebooks/GraphQL/Enums.ipynb
  notebooks/GraphQL/GraphQL.ipynb
  notebooks/GraphQL/Input Objects.ipynb
  notebooks/GraphQL/Objects.ipynb
  notebooks/GraphQL/Scalars.ipynb
  notebooks/GraphQL/nerdgraph-schema.json
Due: jupyter-nb-clear-output

Path conditions:
  jupyter-nb-clear-output: any of: \.ipynb$
  remove-comments-from-nbdev-lib: any of: \.py$
  fix-string-concat-in-nbdev-lib: any of: \.py$
  pylint: any of: \.py$, but not: ^.*\b(migrations|_modidx.py)\b.*$
