Repository dynovaio/newrelic-sb-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: jupyter-nb-clear-output, jupyter-nb-clear-nbdev-lib, pylint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: jupyter-nb-clear-output
        name: jupyter-nb-clear-output
        files: \.ipynb$
        language: system
        entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

  - repo: local
    hooks:
      - id: jupyter-nb-clear-nbdev-lib
        name: jupyter-nb-clear-nbdev-lib
        files: \.py$
        language: system
        entry: sed -i -r 's/# %%.*//g'

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
        exclude: ^.*\b(migrations)\b.*$
      - id: end-of-file-fixer
        exclude: ^.*\b(migrations)\b.*$

  - repo: https://github.com/ambv/black
    rev: 23.1.0
    hooks:
      - id: black-jupyter
        files: \.ipynb$

  # - repo: https://github.com/fastai/nbdev
  #   rev: 2.3.11
  #   hooks:
  #     - id: nbdev_clean
  #     - id: nbdev_export

  - repo: https://github.com/asottile/seed-isort-config
    rev: v2.2.0
    hooks:
      - id: seed-isort-config
        exclude: ^.*\b(migrations)\b.*$

  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.10.1
    hooks:
      - id: isort
        exclude: ^.*\b(migrations)\b.*$

  - repo: https://github.com/ambv/black
    rev: 23.1.0
    hooks:
      - id: black
        exclude: ^.*\b(migrations)\b.*$

  - repo: https://github.com/pycqa/flake8
    rev: 6.0.0
    hooks:
      - id: flake8
        exclude: ^.*\b(migrations)\b.*$

  - repo: https://github.com/pycqa/pydocstyle
    rev: 6.3.0
    hooks:
      - id: pydocstyle
        exclude: ^.*\b(migrations)\b.*$

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.0.1
    hooks:
    -   id: mypy
        files: \.py$

  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.4
    hooks:
      - id: bandit
        exclude: ^.*\b(migrations)\b.*$
        args: [-c, .bandit, -r, src]

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: poetry run pylint
        language: system
        types: [python]
        exclude: ^.*\b(migrations)\b.*$
        args: [--rcfile, .pylintrc, --ignore, migrations]

Update dependencies
  poetry.lock
  pyproject.toml
  requirements.dev.txt
Due: none

Update graphql notebooks
  notebooks/GraphQL/Enums.ipynb
  notebooks/GraphQL/Input Objects.ipynb
  notebooks/GraphQL/NerdGraph Schema to Notebooks.ipynb
  notebooks/GraphQL/Objects.ipynb
Due: jupyter-nb-clear-output

Add dashboards submodule notebooks
  notebooks/Dashboards/Dashboards.ipynb
  notebooks/Dashboards/Enums.ipynb
  notebooks/Dashboards/Index.ipynb
  notebooks/Dashboards/Pages.ipynb
  notebooks/Dashboards/Utils.ipynb
  notebooks/Dashboards/Widgets.ipynb
Due: jupyter-nb-clear-output

Add dashboards submodule notebooks
  notebooks/Dashboards/Widgets.ipynb
Due: jupyter-nb-clear-output

Fix pylint errors in dashboards submodule
  notebooks/Dashboards/Dashboards.ipynb
  notebooks/Dashboards/Pages.ipynb
  notebooks/Dashboards/Widgets.ipynb
Due: jupyter-nb-clear-output

Fix pylint errors in dashboards submodule
  notebooks/Dashboards/Pages.ipynb
  notebooks/Dashboards/Widgets.ipynb
Due: jupyter-nb-clear-output

Update src
  src/newrelic_sb_sdk/_modidx.py
  src/newrelic_sb_sdk/dashboards/__init__.py
  src/newrelic_sb_sdk/dashboards/enums.py
  src/newrelic_sb_sdk/dashboards/pages.py
  src/newrelic_sb_sdk/dashboards/utils.py
  src/newrelic_sb_sdk/dashboards/widgets.py
Due: jupyter-nb-clear-nbdev-lib, pylint

Remove unused submodules
  notebooks/Alerts/Alerts.ipynb
  notebooks/Alerts/Enums.ipynb
  notebooks/Alerts/Utils.ipynb
  notebooks/Inventory/Dashboards - Backend.ipynb
  notebooks/Inventory/Dhasboards - Infrastructure.ipynb
  notebooks/Inventory/Index.ipynb
  notebooks/Inventory/Inventory.ipynb
  notebooks/Inventory/Pages - Backend.ipynb
  notebooks/Inventory/Pages - Infrastructure.ipynb
  notebooks/Inventory/Widgets - Backend.ipynb
  notebooks/Inventory/Widgets - Frontend - Browser.ipynb
  notebooks/Inventory/Widgets - Frontend - Mobile.ipynb
  notebooks/Inventory/Widgets - Infrastructure - Azure.ipynb
  notebooks/Inventory/Widgets - Infrastructure - K8s.ipynb
  notebooks/Inventory/Widgets - Infrastructure - OnHost Integrations.ipynb
  notebooks/Inventory/Widgets - Infrastructure - OnPremise.ipynb
Due: jupyter-nb-clear-output

Update graphql notebooks to be included in _toc.yml
  _toc.yml
  notebooks/Dashboards/Dashboards.ipynb
  notebooks/Dashboards/Enums.ipynb
  notebooks/Dashboards/Pages.ipynb
  notebooks/Dashboards/Widgets.ipynb
Due: jupyter-nb-clear-output

Update change log and tbump
  CHANGELOG.md
  tbump.toml
Due: none

Bump to 0.1.0
  CHANGELOG.md
  pyproject.toml
  src/newrelic_sb_sdk/__init__.py
  tbump.toml
Due: jupyter-nb-clear-nbdev-lib, pylint

Update build_query function
  notebooks/Utils/Query.ipynb
Due: jupyter-nb-clear-output

Add variables support for NewRelicGqlClient execute method, update build_query method to use utils.query.build_query
  notebooks/Client/Client.ipynb
Due: jupyter-nb-clear-output

Fix syntax error on Client notebook
  notebooks/Client/Client.ipynb
Due: jupyter-nb-clear-output

Remove tests from utils notebooks
  notebooks/Utils/Text.ipynb
Due: jupyter-nb-clear-output

Update export target for utils submodule
  notebooks/Utils/Query.ipynb
  notebooks/Utils/Response.ipynb
Due: jupyter-nb-clear-output

Update src
  src/newrelic_sb_sdk/__init__.py
  src/newrelic_sb_sdk/_modidx.py
  src/newrelic_sb_sdk/client/__init__.py
  src/newrelic_sb_sdk/core/query.py
  src/newrelic_sb_sdk/py.typed
  src/newrelic_sb_sdk/utils/query.py
  src/newrelic_sb_sdk/utils/response.py
Due: jupyter-nb-clear-nbdev-lib, pylint

Add pytest config
  setup.cfg
Due: none

set pre commit to fail fast
  .pre-commit-config.yaml
Due: none

Add tests for newrelic_sb_sdk.utils.text
  tests/test_utils_text.ipynb
Due: jupyter-nb-clear-output

Update entry for jupyter-nb-clear-output hook
  .pre-commit-config.yaml
Due: none

Update changelog
  CHANGELOG.md
Due: none

Fix reference to newrelic_sb_sdk module import
  notebooks/GraphQL/Enums.ipynb
  notebooks/GraphQL/Input Objects.ipynb
  notebooks/GraphQL/NerdGraph Schema to Notebooks.ipynb
  notebooks/GraphQL/Objects.ipynb
Due: jupyter-nb-clear-output

Update reference to Python modules
  notebooks/Dashboards/Dashboards.ipynb
  notebooks/Dashboards/Pages.ipynb
  notebooks/Dashboards/Utils.ipynb
  notebooks/Dashboards/Widgets.ipynb
  notebooks/GraphQL/NerdGraph Schema to Notebooks.ipynb
Due: jupyter-nb-clear-output

Add alerts submodule notebooks
  notebooks/Alerts/Alerts.ipynb
  notebooks/Alerts/Enums.ipynb
  notebooks/Alerts/Index.ipynb
  notebooks/Alerts/Utils.ipynb
Due: jupyter-nb-clear-output

Add alerts submodule to _toc.yml
  _toc.yml
Due: none

Fix lint erors
  notebooks/Alerts/Alerts.ipynb
  notebooks/Alerts/Utils.ipynb
Due: jupyter-nb-clear-output

Remove fail_fast from pre commit config
  .pre-commit-config.yaml
Due: none

Update src
  src/newrelic_sb_sdk/_modidx.py
  src/newrelic_sb_sdk/alerts/__init__.py
  src/newrelic_sb_sdk/alerts/enums.py
  src/newrelic_sb_sdk/alerts/utils.py
Due: jupyter-nb-clear-nbdev-lib, pylint

Add settings.ini to tbump version check
  settings.ini
  tbump.toml
Due: none

Update version on exported library
  src/newrelic_sb_sdk/__init__.py
Due: jupyter-nb-clear-nbdev-lib, pylint

Update tbump version check for settings.ini
  tbump.toml
Due: none

Bump to 0.2.0
  CHANGELOG.md
  pyproject.toml
  settings.ini
  src/newrelic_sb_sdk/__init__.py
  tbump.toml
Due: jupyter-nb-clear-nbdev-lib, pylint

Update gitlab repository references, update tbump rules, update markdown format
  .editorconfig
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  pyproject.toml
  tbump.toml
Due: none

Bump to 0.3.0
  CHANGELOG.md
  pyproject.toml
  settings.ini
  src/newrelic_sb_sdk/__init__.py
  tbump.toml
Due: jupyter-nb-clear-nbdev-lib, pylint

Update dependencies
  poetry.lock
  pyproject.toml
  requirements.dev.txt
  requirements.txt
Due: none

Update .pre-commit.yml
  .pre-commit-config.yaml
Due: none
