Repository dynovaio/newrelic-sb-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: jupyter-nb-clear-output, remove-comments-from-nbdev-lib, fix-string-concat-in-nbdev-lib, ty

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: jupyter-nb-clear-output
        name: jupyter-nb-clear-output
        files: \.ipynb$
        language: system
        entry: poetry run jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace
      - id: remove-comments-from-nbdev-lib
        name: remove-comments-from-nbdev-lib
        files: \.py$
        language: system
        entry: sed -i -r 's/# (%%|AUTOGENERATED).*//g'

  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.11.0
    hooks:
      - id: shellcheck

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.43.0
    hooks:
      - id: markdownlint
        args:
          - --config
          - .markdownlint.yaml
        exclude: ^.*\b(notebooks-to-refactor)\b.*$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args: [ --fix ]
      - id: ruff-format

  - repo: local
    hooks:
      - id: fix-string-concat-in-nbdev-lib
        name: fix-string-concat-in-nbdev-lib
        files: \.py$
        language: system
        entry: sed -i -r 's/ " "/ /g'
      - id: ty
        name: ty
        entry: uv run ty check
        language: system
        files: \.py$
        exclude: ^.*\b(graphql)\b.*$

feat(utils): add user key validation utility
  notebooks/Utils/Validators.ipynb
Due: jupyter-nb-clear-output

feat(utils): add InvalidUserKey exception
  notebooks/Utils/Exceptions.ipynb
Due: jupyter-nb-clear-output

feat(client): validate user key on NewRelicClient initialization, log masked user key on debug
  notebooks/Client/Client.ipynb
Due: jupyter-nb-clear-output

docs(client): document client module using literate programming
  notebooks/Client/Client.ipynb
Due: jupyter-nb-clear-output

docs(utils): document download utilities
  notebooks/Utils/Download.ipynb
  src/newrelic_sb_sdk/_modidx.py
  src/newrelic_sb_sdk/client/__init__.py
  src/newrelic_sb_sdk/utils/download.py
  src/newrelic_sb_sdk/utils/exceptions.py
  src/newrelic_sb_sdk/utils/text.py
Due: jupyter-nb-clear-output, remove-comments-from-nbdev-lib, fix-string-concat-in-nbdev-lib, ty

docs(utils): document exception utilities
  notebooks/Utils/Exceptions.ipynb
  src/newrelic_sb_sdk/utils/exceptions.py
Due: jupyter-nb-clear-output, remove-comments-from-nbdev-lib, fix-string-concat-in-nbdev-lib, ty

docs(utils): document validator utilities
  notebooks/Utils/Validators.ipynb
Due: jupyter-nb-clear-output

docs(utils): document text utilities
  notebooks/Utils/Text.ipynb
  src/newrelic_sb_sdk/utils/text.py
Due: jupyter-nb-clear-output, remove-comments-from-nbdev-lib, fix-string-concat-in-nbdev-lib, ty

docs(utils): document query utilities
  notebooks/Utils/Query.ipynb
  src/newrelic_sb_sdk/utils/query.py
Due: jupyter-nb-clear-output, remove-comments-from-nbdev-lib, fix-string-concat-in-nbdev-lib, ty

docs(utils): document response utilities
  notebooks/Utils/Response.ipynb
  src/newrelic_sb_sdk/utils/response.py
Due: jupyter-nb-clear-output, remove-comments-from-nbdev-lib, fix-string-concat-in-nbdev-lib, ty

docs(shortcuts): document accounts utilities
  notebooks/Shortcuts/Accounts.ipynb
  src/newrelic_sb_sdk/shortcuts/accounts.py
Due: jupyter-nb-clear-output, remove-comments-from-nbdev-lib, fix-string-concat-in-nbdev-lib, ty

docs(shortcuts): document credentials utilities
  notebooks/Shortcuts/Credentials.ipynb
  src/newrelic_sb_sdk/shortcuts/credentials.py
Due: jupyter-nb-clear-output, remove-comments-from-nbdev-lib, fix-string-concat-in-nbdev-lib, ty

docs(shortcuts): document dashboards utilities
  notebooks/Shortcuts/Dashboards.ipynb
  src/newrelic_sb_sdk/shortcuts/dashboards.py
Due: jupyter-nb-clear-output, remove-comments-from-nbdev-lib, fix-string-concat-in-nbdev-lib, ty

docs(shortcuts): document historical data export utilities
  notebooks/Shortcuts/Historical Data Export.ipynb
  src/newrelic_sb_sdk/shortcuts/historical_data_export.py
Due: jupyter-nb-clear-output, remove-comments-from-nbdev-lib, fix-string-concat-in-nbdev-lib, ty

build(lint): ignore pyproject ty unresolved-attribute
  notebooks/Shortcuts/Nrql.ipynb
  pyproject.toml
  src/newrelic_sb_sdk/shortcuts/nrql.py
Due: jupyter-nb-clear-output, remove-comments-from-nbdev-lib, fix-string-concat-in-nbdev-lib, ty

docs(shortcuts): document nrql utilities
  notebooks/Shortcuts/Nrql.ipynb
  src/newrelic_sb_sdk/shortcuts/nrql.py
Due: jupyter-nb-clear-output, remove-comments-from-nbdev-lib, fix-string-concat-in-nbdev-lib, ty

docs(config): update index files, myst config, editorconfig, and clean empty trailing cells
  .editorconfig
  myst.yml
  notebooks/GraphQL/Index.ipynb
  notebooks/Shortcuts/Index.ipynb
  notebooks/Utils/Index.ipynb
Due: jupyter-nb-clear-output

fix(exceptions): use regex pattern string in InvalidUserKey exception message
  notebooks/Utils/Exceptions.ipynb
  src/newrelic_sb_sdk/utils/exceptions.py
  tests/test_utils_exceptions.ipynb
Due: jupyter-nb-clear-output, remove-comments-from-nbdev-lib, fix-string-concat-in-nbdev-lib, ty

test: expand test suite for client, shortcuts, and utilities
  tests/test_client_client.ipynb
  tests/test_shortcuts_dashboards.ipynb
  tests/test_shortcuts_historical_data_export.ipynb
  tests/test_shortcuts_nrql.ipynb
  tests/test_utils_download.ipynb
  tests/test_utils_validators.ipynb
Due: jupyter-nb-clear-output

feat: add validators module to utils
  src/newrelic_sb_sdk/utils/validators.py
Due: remove-comments-from-nbdev-lib, fix-string-concat-in-nbdev-lib, ty

refactor(src): refresh package source from notebooks
  src/newrelic_sb_sdk/_modidx.py
  src/newrelic_sb_sdk/graphql/__init__.py
  src/newrelic_sb_sdk/graphql/enums.py
  src/newrelic_sb_sdk/graphql/input_objects.py
  src/newrelic_sb_sdk/graphql/objects.py
  src/newrelic_sb_sdk/graphql/scalars.py
Due: remove-comments-from-nbdev-lib, fix-string-concat-in-nbdev-lib, ty

docs: update changelog
  CHANGELOG.md
Due: none

Bump to 0.47.0
  CHANGELOG.md
  pyproject.toml
  src/newrelic_sb_sdk/__init__.py
  src/newrelic_sb_sdk/version.py
  tbump.toml
  uv.lock
Due: remove-comments-from-nbdev-lib, fix-string-concat-in-nbdev-lib, ty
