Repository dynovaio/newrelic-sb-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: jupyter-nb-clear-output, remove-comments-from-nbdev-lib, fix-string-concat-in-nbdev-lib, ty

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: jupyter-nb-clear-output
        name: jupyter-nb-clear-output
        files: \.ipynb$
        language: system
        entry: poetry run jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace
      - id: remove-comments-from-nbdev-lib
        name: remove-comments-from-nbdev-lib
        files: \.py$
        language: system
        entry: sed -i -r 's/# (%%|AUTOGENERATED).*//g'

  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.11.0
    hooks:
      - id: shellcheck

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.43.0
    hooks:
      - id: markdownlint
        args:
          - --config
          - .markdownlint.yaml
        exclude: ^.*\b(notebooks-to-refactor)\b.*$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args: [ --fix ]
      - id: ruff-format

  - repo: local
    hooks:
      - id: fix-string-concat-in-nbdev-lib
        name: fix-string-concat-in-nbdev-lib
        files: \.py$
        language: system
        entry: sed -i -r 's/ " "/ /g'
      - id: ty
        name: ty
        entry: uv run ty check
        language: system
        files: \.py$
        exclude: ^.*\b(graphql)\b.*$

ci: allow develop to build docs
  .gitlab-ci.yml
Due: none

ci: add base url for docs build
  .gitlab-ci.yml
Due: none

ci: remove base url for docs build, already handled in ci/cd variables
  .gitlab-ci.yml
Due: none

ci: fix jupyter-book localhost ipv6 issue by forcing ipv4 preference in node
  .gitlab-ci.yml
  devops/python/setup_variables.sh
Due: none

ci: remove variables from docs:bulild:py314
  .gitlab-ci.yml
Due: none

ci: remove develop from trigger branches for pages and docs:bulild:py314
  .gitlab-ci.yml
Due: none

Update: describe changes in change log
  CHANGELOG.md
Due: none

ci: replace poetry with uv for build and publish steps
  Dockerfile
  devops/python/publish_package_to_pypi.sh
  devops/python/setup_pypi_credentials.sh
  notebooks/GraphQL/NerdGraph Schema to Notebooks.ipynb
  tbump.toml
Due: jupyter-nb-clear-output

Bump to 0.44.0
  CHANGELOG.md
  pyproject.toml
  settings.ini
  src/newrelic_sb_sdk/__init__.py
  src/newrelic_sb_sdk/version.py
  tbump.toml
  uv.lock
Due: remove-comments-from-nbdev-lib, fix-string-concat-in-nbdev-lib, ty

Update: refresh src module from notebooks
  src/newrelic_sb_sdk/_modidx.py
  src/newrelic_sb_sdk/graphql/enums.py
  src/newrelic_sb_sdk/graphql/input_objects.py
  src/newrelic_sb_sdk/graphql/objects.py
  src/newrelic_sb_sdk/graphql/scalars.py
Due: remove-comments-from-nbdev-lib, fix-string-concat-in-nbdev-lib, ty

docs: update changelog
  CHANGELOG.md
Due: none

Bump to 0.45.0
  CHANGELOG.md
  pyproject.toml
  settings.ini
  src/newrelic_sb_sdk/__init__.py
  src/newrelic_sb_sdk/version.py
  tbump.toml
  uv.lock
Due: remove-comments-from-nbdev-lib, fix-string-concat-in-nbdev-lib, ty

docs: add AGENTS.md with project overview and agent instructions
  AGENTS.md
Due: none

refactor(notebooks): fix title duplication in JupyterBook and cleanup src/
  notebooks/Client/Client.ipynb
  notebooks/Client/Index.ipynb
  notebooks/Generator/NerdGraph Schema to Notebooks.ipynb
  notebooks/GraphQL/Index.ipynb
  notebooks/Shortcuts/Accounts.ipynb
  notebooks/Shortcuts/Credentials.ipynb
  notebooks/Shortcuts/Dashboards.ipynb
  notebooks/Shortcuts/Historical Data Export.ipynb
  notebooks/Shortcuts/Index.ipynb
  notebooks/Shortcuts/Nrql.ipynb
  notebooks/Utils/Download.ipynb
  notebooks/Utils/Exceptions.ipynb
  notebooks/Utils/Index.ipynb
  notebooks/Utils/Query.ipynb
  notebooks/Utils/Response.ipynb
  notebooks/Utils/Text.ipynb
  src/pyproject.toml
Due: jupyter-nb-clear-output

style(docs): handle long text in MyST outline items
  _static/css/custom.css
Due: none

feat(generator): move documentation to notebook cells and exclude from exported source
  notebooks/Generator/NerdGraph Schema to Notebooks.ipynb
Due: jupyter-nb-clear-output

build(deps): update project dependencies and development tools
  pyproject.toml
  requirements.dev.txt
  requirements.txt
  uv.lock
Due: none

refactor(nbdev): migrate settings.ini to pyproject.toml for nbdev 3.x
  pyproject.toml
  settings.ini
Due: none

docs: add poe tasks for documentation and ignore generated toml in src
  .gitignore
  pyproject.toml
Due: none

build(dev): update pre-commit hooks and linting configuration
  .pre-commit-config.yaml
  pyproject.toml
Due: none

fix(utils): update urllib import to include parse in Download notebook
  notebooks/Utils/Download.ipynb
Due: jupyter-nb-clear-output

chore(poe): align schema and package commit tasks with conventional commits
  pyproject.toml
Due: none

docs(prompts): add RootQueryType category to changelog generator
  prompts/changelog_generator.txt
Due: none

fix: remove settings.ini from tbump config
  tbump.toml
Due: none

feat(scripts): add changelog:draft task and use it in package:pre-release
  pyproject.toml
Due: none

refactor(scripts): include generator in schema:stage task
  pyproject.toml
Due: none

lint: ignore inconsistent-mro rule for ty
  pyproject.toml
Due: none

refactor(tasks): rename nbdev_export to nbdev-export in package:update task
  pyproject.toml
Due: none

fix(generator): use correct variables for object and union types
  notebooks/Generator/NerdGraph Schema to Notebooks.ipynb
Due: jupyter-nb-clear-output

refactor(src): refresh package source from notebooks
  src/newrelic_sb_sdk/_modidx.py
  src/newrelic_sb_sdk/graphql/__init__.py
  src/newrelic_sb_sdk/graphql/enums.py
  src/newrelic_sb_sdk/graphql/input_objects.py
  src/newrelic_sb_sdk/graphql/objects.py
  src/newrelic_sb_sdk/utils/download.py
Due: remove-comments-from-nbdev-lib, fix-string-concat-in-nbdev-lib, ty

chore(ai): refine propt for changelog generation.
  prompts/changelog_generator.txt
Due: none

ci: update github workflow
  .github/workflows/jupyter-book.yml
Due: none

Bump to 0.46.0
  CHANGELOG.md
  pyproject.toml
  src/newrelic_sb_sdk/__init__.py
  src/newrelic_sb_sdk/version.py
  tbump.toml
  uv.lock
Due: remove-comments-from-nbdev-lib, fix-string-concat-in-nbdev-lib, ty

deps: add jupyterlab-myst to dev dependencies
  pyproject.toml
  requirements.dev.txt
  uv.lock
Due: none

docs(utils): add missing Download and Exceptions notebook links to index
  notebooks/Utils/Index.ipynb
Due: jupyter-nb-clear-output

feat(utils): add text masking utility
  notebooks/Utils/Text.ipynb
Due: jupyter-nb-clear-output
