Repository dynovaio/newrelic-sb-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: jupyter-nb-clear-output, remove-comments-from-nbdev-lib, fix-string-concat-in-nbdev-lib, pylint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: jupyter-nb-clear-output
        name: jupyter-nb-clear-output
        files: \.ipynb$
        language: system
        entry: poetry run jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace
      - id: remove-comments-from-nbdev-lib
        name: remove-comments-from-nbdev-lib
        files: \.py$
        language: system
        entry: sed -i -r 's/# (%%|AUTOGENERATED).*//g'

  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.9.0
    hooks:
    -   id: shellcheck

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.37.0
    hooks:
      - id: markdownlint
        args: [--config, .markdownlint.json]
        exclude: ^.*\b(notebooks-to-refactor)\b.*$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer

  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.7.0
    hooks:
      - id: nbqa-pyupgrade
      - id: nbqa-isort
      - id: nbqa-black
      - id: nbqa-flake8
      - id: nbqa-pydocstyle
      - id: nbqa
        entry: poetry run nbqa mypy --ignore-missing-imports
        name: nbqa-mypy
        alias: nbqa-mypy
        exclude: ^.*\b(GraphQL)\b.*$
        additional_dependencies: [mypy==1.6.1, types-requests==2.31.0.10]
      - id: nbqa
        entry: poetry run nbqa bandit
        name: nbqa-bandit
        alias: nbqa-bandit
        additional_dependencies: [bandit==1.7.5]
      - id: nbqa-pylint
        args: [--disable=import-error, --disable=pointless-statement, --disable=invalid-name, --disable=expression-not-assigned, --disable=too-many-lines]
        exclude: ^.*\b(notebooks-to-refactor)\b.*$

  - repo: https://github.com/asottile/seed-isort-config
    rev: v2.2.0
    hooks:
      - id: seed-isort-config

  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.10.1
    hooks:
      - id: isort

  - repo: https://github.com/ambv/black
    rev: 23.10.0
    hooks:
      - id: black

  - repo: local
    hooks:
      - id: fix-string-concat-in-nbdev-lib
        name: fix-string-concat-in-nbdev-lib
        files: \.py$
        language: system
        entry: sed -i -r 's/ " "/ /g'

  - repo: https://github.com/pycqa/flake8
    rev: 6.1.0
    hooks:
      - id: flake8

  - repo: https://github.com/pycqa/pydocstyle
    rev: 6.3.0
    hooks:
      - id: pydocstyle

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.6.1
    hooks:
      - id: mypy
        files: \.py$
        exclude: ^.*\b(graphql)\b.*$
        additional_dependencies: [types-requests==2.31.0.10]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.5
    hooks:
      - id: bandit
        args: [-c, .bandit, -r, src]

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: poetry run pylint
        language: system
        types: [python]
        exclude: ^.*\b(migrations|_modidx.py)\b.*$
        args: [--rcfile, .pylintrc, --ignore, migrations]

Update: refresh src module from notebooks
  src/newrelic_sb_sdk/_modidx.py
  src/newrelic_sb_sdk/graphql/enums.py
  src/newrelic_sb_sdk/graphql/input_objects.py
  src/newrelic_sb_sdk/graphql/objects.py
Due: remove-comments-from-nbdev-lib, fix-string-concat-in-nbdev-lib, pylint

Update: new entries in CHANGELOG.md
  CHANGELOG.md
Due: none

Update: new poe tasks
  pyproject.toml
Due: none

Bump to 0.26.0
  CHANGELOG.md
  pyproject.toml
  settings.ini
  src/newrelic_sb_sdk/__init__.py
  src/newrelic_sb_sdk/version.py
  tbump.toml
Due: remove-comments-from-nbdev-lib, fix-string-concat-in-nbdev-lib, pylint

Update: generate GraphQL notebooks with new schema
  notebooks/GraphQL/Enums.ipynb
  notebooks/GraphQL/GraphQL.ipynb
  notebooks/GraphQL/Input Objects.ipynb
  notebooks/GraphQL/Objects.ipynb
  notebooks/GraphQL/Scalars.ipynb
  notebooks/GraphQL/nerdgraph-schema.json
Due: jupyter-nb-clear-output

Update: describe changes in CHANGELOG.md
  CHANGELOG.md
  pyproject.toml
Due: none

Bump to 0.27.0
  CHANGELOG.md
  pyproject.toml
  settings.ini
  src/newrelic_sb_sdk/__init__.py
  src/newrelic_sb_sdk/version.py
  tbump.toml
Due: remove-comments-from-nbdev-lib, fix-string-concat-in-nbdev-lib, pylint

Update: new markdownlint settings for pre-commit
  .gitignore
  .markdownlint.json
  .mdlrc
  .mdlrc.rb
  .pre-commit-config.yaml
Due: none

Update: describe changes in CHANGELOG.md
  CHANGELOG.md
Due: none

Bump to 0.28.0
  CHANGELOG.md
  pyproject.toml
  settings.ini
  src/newrelic_sb_sdk/__init__.py
  src/newrelic_sb_sdk/version.py
  tbump.toml
Due: remove-comments-from-nbdev-lib, fix-string-concat-in-nbdev-lib, pylint

Update: refresh src module from notebooks
  .mdlrc.rb
  src/newrelic_sb_sdk/_modidx.py
  src/newrelic_sb_sdk/graphql/enums.py
  src/newrelic_sb_sdk/graphql/input_objects.py
  src/newrelic_sb_sdk/graphql/objects.py
Due: remove-comments-from-nbdev-lib, fix-string-concat-in-nbdev-lib, pylint

Update: .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

Update: markdown rules in .mdlrc.rb
  .mdlrc.rb
Due: none

Update: development dependencies
  poetry.lock
  pyproject.toml
  requirements.dev.txt
Due: none

Bump to 0.29.0
  CHANGELOG.md
  pyproject.toml
  settings.ini
  src/newrelic_sb_sdk/__init__.py
  src/newrelic_sb_sdk/version.py
  tbump.toml
Due: remove-comments-from-nbdev-lib, fix-string-concat-in-nbdev-lib, pylint

Bump to 0.30.0
  CHANGELOG.md
  pyproject.toml
  settings.ini
  src/newrelic_sb_sdk/__init__.py
  src/newrelic_sb_sdk/version.py
  tbump.toml
Due: remove-comments-from-nbdev-lib, fix-string-concat-in-nbdev-lib, pylint

Update: refresh src module from notebooks
  src/newrelic_sb_sdk/_modidx.py
  src/newrelic_sb_sdk/graphql/input_objects.py
  src/newrelic_sb_sdk/graphql/objects.py
Due: remove-comments-from-nbdev-lib, fix-string-concat-in-nbdev-lib, pylint

Bump to 0.31.0
  CHANGELOG.md
  pyproject.toml
  settings.ini
  src/newrelic_sb_sdk/__init__.py
  src/newrelic_sb_sdk/version.py
  tbump.toml
Due: remove-comments-from-nbdev-lib, fix-string-concat-in-nbdev-lib, pylint

Bump to 0.32.0
  CHANGELOG.md
  pyproject.toml
  settings.ini
  src/newrelic_sb_sdk/__init__.py
  src/newrelic_sb_sdk/version.py
  tbump.toml
Due: remove-comments-from-nbdev-lib, fix-string-concat-in-nbdev-lib, pylint

Add: new _get_variable_from_env and get_new_relic_account_id_from_env, refactor get_new_relic_user_key_from_env using _get_variable_from_env
  notebooks/Client/Client.ipynb
Due: jupyter-nb-clear-output

Add: new nrql function, update retry logic in perform_nrql_query, deprecate max_retry in favor of max_retries in perform_nrql_query
  notebooks/Shortcuts/Nrql.ipynb
Due: jupyter-nb-clear-output

Add: Download notebook for utility functions for download files from historical data export
  notebooks/Utils/Download.ipynb
Due: jupyter-nb-clear-output

Add: Dashboards notebook for shortcut functions related to dashboards
  notebooks/Shortcuts/Dashboards.ipynb
Due: jupyter-nb-clear-output

Update: rename variable_values to variables param in _check_nrql_query_progress
  notebooks/Shortcuts/Nrql.ipynb
Due: jupyter-nb-clear-output
