Repository dynovaio/newrelic-sb-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: jupyter-nb-clear-output, jupyter-nb-clear-nbdev-lib, pylint

jupyter-nb-clear-output:
  name: jupyter-nb-clear-output
  language: system
  entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

jupyter-nb-clear-nbdev-lib:
  name: jupyter-nb-clear-nbdev-lib
  language: system
  entry: sed -i -r 's/# %%.*//g'

pylint:
  name: pylint
  entry: poetry run pylint
  language: system
  args:
  - --rcfile
  - .pylintrc
  - --ignore
  - migrations

Bump to 0.14.0
  CHANGELOG.md
  pyproject.toml
  settings.ini
  src/newrelic_sb_sdk/__init__.py
  tbump.toml
Due: jupyter-nb-clear-nbdev-lib, pylint

Fix: add before_script to package:release:gitlab:py311 stage in .gitlab-ci.yml to avoid errors in release creation.
  .gitlab-ci.yml
Due: none

Update: update hook and aditional dependencies versions in .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

Update: updatede development dependecies
  poetry.lock
  pyproject.toml
  requirements.dev.txt
  requirements.txt
Due: none

Update: CHANGELOG.md
  CHANGELOG.md
Due: none

Update: fetch new nerdgraph-schema.json and rebuild GraphQL notebooks.
  notebooks/GraphQL/Enums.ipynb
  notebooks/GraphQL/GraphQL.ipynb
  notebooks/GraphQL/Input Objects.ipynb
  notebooks/GraphQL/Objects.ipynb
  notebooks/GraphQL/Scalars.ipynb
  notebooks/GraphQL/nerdgraph-schema.json
Due: jupyter-nb-clear-output

Update: update graphql submodule in src with the new schema.
  CHANGELOG.md
  src/newrelic_sb_sdk/_modidx.py
  src/newrelic_sb_sdk/graphql/objects.py
Due: jupyter-nb-clear-nbdev-lib, pylint

Bump to 0.15.0
  CHANGELOG.md
  pyproject.toml
  settings.ini
  src/newrelic_sb_sdk/__init__.py
  tbump.toml
Due: jupyter-nb-clear-nbdev-lib, pylint

Update: update directory tree in display in 'NerdGraph Schema to Notebooks.ipynb'
  notebooks/GraphQL/NerdGraph Schema to Notebooks.ipynb
Due: jupyter-nb-clear-output

Update: update graphQL notebooks with new version of nerdgraph schema.
  notebooks/GraphQL/Enums.ipynb
  notebooks/GraphQL/GraphQL.ipynb
  notebooks/GraphQL/Input Objects.ipynb
  notebooks/GraphQL/Objects.ipynb
  notebooks/GraphQL/Scalars.ipynb
  notebooks/GraphQL/nerdgraph-schema.json
Due: jupyter-nb-clear-output

Update: update graphql submodule in src with the new schema.
  src/newrelic_sb_sdk/_modidx.py
  src/newrelic_sb_sdk/graphql/enums.py
  src/newrelic_sb_sdk/graphql/input_objects.py
  src/newrelic_sb_sdk/graphql/objects.py
Due: jupyter-nb-clear-nbdev-lib, pylint

Update: update development dependencies
  poetry.lock
  pyproject.toml
  requirements.dev.txt
  requirements.txt
Due: none

Update: updatepre-commit hooks
  .pre-commit-config.yaml
Due: none

Bump to 0.16.0
  CHANGELOG.md
  pyproject.toml
  settings.ini
  src/newrelic_sb_sdk/__init__.py
  tbump.toml
Due: jupyter-nb-clear-nbdev-lib, pylint

Bump to 0.17.0
  CHANGELOG.md
  pyproject.toml
  settings.ini
  src/newrelic_sb_sdk/__init__.py
  tbump.toml
Due: jupyter-nb-clear-nbdev-lib, pylint

Update dependencies.
  poetry.lock
  pyproject.toml
  requirements.dev.txt
  requirements.txt
Due: none

Update pre-commit config
  .pre-commit-config.yaml
Due: none

Update: update schema in graphql submodule.
  CHANGELOG.md
  notebooks/GraphQL/Enums.ipynb
  notebooks/GraphQL/GraphQL.ipynb
  notebooks/GraphQL/Input Objects.ipynb
  notebooks/GraphQL/Objects.ipynb
  notebooks/GraphQL/Scalars.ipynb
  notebooks/GraphQL/nerdgraph-schema.json
Due: jupyter-nb-clear-output

Update: update graphql submodule in src with the new schema.
  CHANGELOG.md
  src/newrelic_sb_sdk/_modidx.py
  src/newrelic_sb_sdk/graphql/enums.py
  src/newrelic_sb_sdk/graphql/input_objects.py
  src/newrelic_sb_sdk/graphql/objects.py
Due: jupyter-nb-clear-nbdev-lib, pylint

Bump to 0.18.0
  CHANGELOG.md
  pyproject.toml
  settings.ini
  src/newrelic_sb_sdk/__init__.py
  tbump.toml
Due: jupyter-nb-clear-nbdev-lib, pylint

Update: update graphql notebooks
  notebooks/GraphQL/Enums.ipynb
  notebooks/GraphQL/GraphQL.ipynb
  notebooks/GraphQL/Input Objects.ipynb
  notebooks/GraphQL/Objects.ipynb
  notebooks/GraphQL/Scalars.ipynb
  notebooks/GraphQL/nerdgraph-schema.json
Due: jupyter-nb-clear-output

Update: update graphql submodule
  CHANGELOG.md
  src/newrelic_sb_sdk/_modidx.py
  src/newrelic_sb_sdk/graphql/enums.py
  src/newrelic_sb_sdk/graphql/input_objects.py
  src/newrelic_sb_sdk/graphql/objects.py
Due: jupyter-nb-clear-nbdev-lib, pylint

Bump to 0.19.0
  CHANGELOG.md
  pyproject.toml
  settings.ini
  src/newrelic_sb_sdk/__init__.py
  tbump.toml
Due: jupyter-nb-clear-nbdev-lib, pylint

Update nerdgraph schema
  notebooks/GraphQL/nerdgraph-schema.json
Due: none

Update graphql notebooks
  notebooks/GraphQL/Enums.ipynb
  notebooks/GraphQL/GraphQL.ipynb
  notebooks/GraphQL/Input Objects.ipynb
  notebooks/GraphQL/Objects.ipynb
  notebooks/GraphQL/Scalars.ipynb
Due: jupyter-nb-clear-output

Update dependencies
  poetry.lock
  requirements.dev.txt
  requirements.txt
Due: none

Update newrelic_sb_sdk package
  CHANGELOG.md
  src/newrelic_sb_sdk/_modidx.py
  src/newrelic_sb_sdk/graphql/enums.py
  src/newrelic_sb_sdk/graphql/input_objects.py
  src/newrelic_sb_sdk/graphql/objects.py
Due: jupyter-nb-clear-nbdev-lib, pylint

Bump to 0.20.0
  CHANGELOG.md
  pyproject.toml
  settings.ini
  src/newrelic_sb_sdk/__init__.py
  tbump.toml
Due: jupyter-nb-clear-nbdev-lib, pylint

Update: new nerdgrah schema and new notebooks in graphql submodule
  CHANGELOG.md
  notebooks/GraphQL/Enums.ipynb
  notebooks/GraphQL/GraphQL.ipynb
  notebooks/GraphQL/Input Objects.ipynb
  notebooks/GraphQL/Objects.ipynb
  notebooks/GraphQL/Scalars.ipynb
  notebooks/GraphQL/nerdgraph-schema.json
Due: jupyter-nb-clear-output

Update: new graphql submodule in src
  CHANGELOG.md
  src/newrelic_sb_sdk/_modidx.py
  src/newrelic_sb_sdk/graphql/enums.py
  src/newrelic_sb_sdk/graphql/input_objects.py
  src/newrelic_sb_sdk/graphql/objects.py
  src/newrelic_sb_sdk/graphql/scalars.py
Due: jupyter-nb-clear-nbdev-lib, pylint

Update: update dev dependencies
  CHANGELOG.md
  poetry.lock
  pyproject.toml
  requirements.dev.txt
Due: none

Update: prepare references to migrate to github
  README.md
  _toc.yml
  pyproject.toml
  settings.ini
  src/newrelic_sb_sdk/_modidx.py
Due: jupyter-nb-clear-nbdev-lib, pylint

Add: new config file for github actions, new python versions, update reference links to github
  .github/workflows/jupyter-book.yml
  .gitignore
  .python-version
  CONTRIBUTING.md
  _config.yml
Due: none

Add: new config file for github actions, new python versions, update reference links to github, update .pre-commit
  .pre-commit-config.yaml
Due: none

Path conditions:
  jupyter-nb-clear-output: any of: \.ipynb$
  jupyter-nb-clear-nbdev-lib: any of: \.py$
  pylint: any of: \.py$, but not: ^.*\b(migrations)\b.*$
