Repository dynovaio/newrelic-sb-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: jupyter-nb-clear-output, remove-comments-from-nbdev-lib, fix-string-concat-in-nbdev-lib, pylint

jupyter-nb-clear-output:
  name: jupyter-nb-clear-output
  language: system
  entry: poetry run jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

remove-comments-from-nbdev-lib:
  name: remove-comments-from-nbdev-lib
  language: system
  entry: sed -i -r 's/# (%%|AUTOGENERATED).*//g'

fix-string-concat-in-nbdev-lib:
  name: fix-string-concat-in-nbdev-lib
  language: system
  entry: sed -i -r 's/ " "/ /g'

pylint:
  name: pylint
  entry: poetry run pylint
  language: system
  args:
  - --rcfile
  - .pylintrc
  - --ignore
  - migrations

Bump to 0.40.0
  CHANGELOG.md
  pyproject.toml
  settings.ini
  src/newrelic_sb_sdk/__init__.py
  src/newrelic_sb_sdk/version.py
  tbump.toml
Due: remove-comments-from-nbdev-lib, fix-string-concat-in-nbdev-lib, pylint

Update: add python 3.13 to classifers
  pyproject.toml
Due: none

Update: refresh src module from notebooks
  src/newrelic_sb_sdk/_modidx.py
  src/newrelic_sb_sdk/graphql/enums.py
  src/newrelic_sb_sdk/graphql/input_objects.py
  src/newrelic_sb_sdk/graphql/objects.py
Due: remove-comments-from-nbdev-lib, fix-string-concat-in-nbdev-lib, pylint

Update: describe changes in change log
  CHANGELOG.md
Due: none

Bump to 0.41.0
  CHANGELOG.md
  pyproject.toml
  settings.ini
  src/newrelic_sb_sdk/__init__.py
  src/newrelic_sb_sdk/version.py
  tbump.toml
Due: remove-comments-from-nbdev-lib, fix-string-concat-in-nbdev-lib, pylint

Update: refresh src module from notebooks
  src/newrelic_sb_sdk/_modidx.py
  src/newrelic_sb_sdk/graphql/enums.py
  src/newrelic_sb_sdk/graphql/input_objects.py
  src/newrelic_sb_sdk/graphql/objects.py
  src/newrelic_sb_sdk/graphql/scalars.py
Due: remove-comments-from-nbdev-lib, fix-string-concat-in-nbdev-lib, pylint

Bump to 0.42.0
  CHANGELOG.md
  pyproject.toml
  settings.ini
  src/newrelic_sb_sdk/__init__.py
  src/newrelic_sb_sdk/version.py
  tbump.toml
Due: remove-comments-from-nbdev-lib, fix-string-concat-in-nbdev-lib, pylint

Update: dependencies and python to 3.14.x
  .gitlab-ci.yml
  .pre-commit-config.yaml
  .python-version
  devops/python/upload_coverage.sh
  poetry.lock
  pyproject.toml
  requirements.dev.txt
  requirements.txt
Due: none

Bump to 0.43.0
  CHANGELOG.md
  pyproject.toml
  settings.ini
  src/newrelic_sb_sdk/__init__.py
  src/newrelic_sb_sdk/version.py
  tbump.toml
Due: remove-comments-from-nbdev-lib, fix-string-concat-in-nbdev-lib, pylint

Update: migrate dependency management to uv
  .python-version
  poetry.lock
  pyproject.toml
  requirements.dev.txt
  requirements.txt
  uv.lock
Due: none

Update: migrate license from mit to Apache-2.0
  LICENSE.txt
  pyproject.toml
Due: none

chore: migrate linting and formatting tooling to Ruff
  .pre-commit-config.yaml
  notebooks/Client/Client.ipynb
  notebooks/GraphQL/NerdGraph Schema to Notebooks.ipynb
  notebooks/Shortcuts/Accounts.ipynb
  notebooks/Shortcuts/Credentials.ipynb
  notebooks/Shortcuts/Dashboards.ipynb
  notebooks/Shortcuts/Historical Data Export.ipynb
  notebooks/Shortcuts/Nrql.ipynb
  notebooks/Utils/Download.ipynb
  notebooks/Utils/Query.ipynb
  notebooks/Utils/Response.ipynb
  pyproject.toml
  setup.cfg
  src/newrelic_sb_sdk/_modidx.py
  src/newrelic_sb_sdk/client/__init__.py
  src/newrelic_sb_sdk/shortcuts/accounts.py
  src/newrelic_sb_sdk/shortcuts/credentials.py
  src/newrelic_sb_sdk/shortcuts/dashboards.py
  src/newrelic_sb_sdk/shortcuts/historical_data_export.py
  src/newrelic_sb_sdk/shortcuts/nrql.py
  src/newrelic_sb_sdk/utils/download.py
  src/newrelic_sb_sdk/utils/query.py
  src/newrelic_sb_sdk/utils/response.py
  tests/test_utils_response.ipynb
  uv.lock
Due: jupyter-nb-clear-output, remove-comments-from-nbdev-lib, fix-string-concat-in-nbdev-lib, pylint

chore: replace mypy with ty
  .pre-commit-config.yaml
  pyproject.toml
  setup.cfg
  uv.lock
Due: none

chore: fix ty configuration
  pyproject.toml
Due: none

chore: enable ty checking for notebooks
  .pre-commit-config.yaml
Due: none

chore: update environment to Python 3.14, migrate Docker to uv, and cleanup configs
  .gitignore
  .markdownlint.yml
  .mdlrc
  .mdlrc.rb
  .pre-commit-config.yaml
  Dockerfile
  docker-compose.yml
  requirements.dev.txt
Due: none

Refactor(devops): Migrate from Poetry to uv
  devops/python/build_docs_with_jupyterbook.sh
  devops/python/execute_tests.sh
  devops/python/setup_dependencies.sh
  devops/python/setup_poetry.sh
  devops/python/setup_uv.sh
  devops/python/setup_variables.sh
Due: none

Refactor(ci): Update GitLab CI to use uv
  .gitlab-ci.yml
Due: none

Docs: Update contributors link in README
  README.md
Due: none

Refactor(project): Add automated changelog generation and update release task
  prompts/changelog_generator.txt
  pyproject.toml
Due: none

Docs(notebooks): Update Client and Index notebooks
  notebooks/Client/Client.ipynb
  notebooks/Client/Index.ipynb
Due: jupyter-nb-clear-output

Refactor(project): Update package:pre-release task
  pyproject.toml
Due: none

Refactor(devops): Update pre-commit configuration
  .pre-commit-config.yaml
Due: none

Refactor(cleanup): Remove redundant src/pyproject.toml
  src/pyproject.toml
Due: none

Refactor(config): Update type checking rules and documentation
  README.md
  pyproject.toml
Due: none

Update: refresh src module from notebooks
  src/newrelic_sb_sdk/_modidx.py
  src/newrelic_sb_sdk/client/__init__.py
  src/newrelic_sb_sdk/graphql/enums.py
  src/newrelic_sb_sdk/graphql/input_objects.py
  src/newrelic_sb_sdk/graphql/objects.py
  src/newrelic_sb_sdk/shortcuts/historical_data_export.py
  src/pyproject.toml
Due: remove-comments-from-nbdev-lib, fix-string-concat-in-nbdev-lib, pylint

Refactor(project): Enhance changelog generation
  prompts/changelog_generator.txt
  pyproject.toml
Due: none

Refactor(project): Add uv lock hook to tbump configuration
  tbump.toml
Due: none

Refactor(notebooks): Update Client, Shortcuts and Test notebooks
  notebooks/Client/Client.ipynb
  notebooks/Shortcuts/Accounts.ipynb
  notebooks/Shortcuts/Credentials.ipynb
  notebooks/Shortcuts/Dashboards.ipynb
  notebooks/Shortcuts/Historical Data Export.ipynb
  notebooks/Shortcuts/Nrql.ipynb
  tests/test_client.ipynb
  tests/test_shortcuts_accounts.ipynb
  tests/test_shortcuts_credentials.ipynb
Due: jupyter-nb-clear-output

Refactor(package): Sync source code with notebooks
  src/newrelic_sb_sdk/client/__init__.py
  src/newrelic_sb_sdk/shortcuts/accounts.py
  src/newrelic_sb_sdk/shortcuts/credentials.py
  src/newrelic_sb_sdk/shortcuts/dashboards.py
  src/newrelic_sb_sdk/shortcuts/historical_data_export.py
  src/newrelic_sb_sdk/shortcuts/nrql.py
Due: remove-comments-from-nbdev-lib, fix-string-concat-in-nbdev-lib, pylint

ci: update docs build dependencies and setup script
  .gitlab-ci.yml
  devops/python/setup_docs_dependencies.sh
Due: none

Path conditions:
  jupyter-nb-clear-output: any of: \.ipynb$
  remove-comments-from-nbdev-lib: any of: \.py$
  fix-string-concat-in-nbdev-lib: any of: \.py$
  pylint: any of: \.py$, but not: ^.*\b(migrations|_modidx.py)\b.*$
